.header {
  grid-column: 2 / 3;
  padding: .4rem 2rem;
}

/* TOP */
.header-top {
  --children-height: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: .5rem;
}

  .header__search {
  flex: 2;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .8rem;
  }
  .search__magnify {
    height: var(--children-height);
    &:hover { cursor: pointer; }
  }
  .search__field {
    width: 80%;
    height: var(--children-height);
    padding: .2rem .5rem;
    background-color: rgb(235, 239, 246);
    outline: 0 none;
    border: 0 none;
    border-radius: 2rem;
  }


  .header__profile {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
  }
  .profile__bell {
    height: var(--children-height);
    &:hover { cursor: pointer; }
  }
  .profile__avatar {
    height: calc(2 * var(--children-height));
  }




/* Bottom */
.header-bottom {
  display: flex;
  justify-content: space-between;
}

  .header__greeting {
    --children-height: 2.2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
  .greeting__avatar {
    height: calc(2 * var(--children-height));
  }
  .greeting__span {
    font-size: 80%;
    font-weight: 700;
  }
  .greeting__h2 {
    margin: .2rem 0;
  }

  .header__buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
  }


  .header__button {
    padding: .6rem 2rem;
    color: aliceblue;
    background-color: #1b92d4;
    border: 0 none;
    border-radius: 2rem;
    &:hover {
      cursor: pointer;
      background-color: #3ba0d6;
    }
  }


